html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  box-sizing: border-box;
}

.logo > p {
  font-size: 1vw;
}

.logo {
  display: flex;
  align-items: center;

  overflow-y: hidden;
}

.header-unesco {
  width: 100%;
  height: 600px;
  background-image: url("../img/background-mountains.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-top: 4rem;
  flex: 5;
}

.article-block {
  min-height: 800px;
  width: 100%;
  background-image: url("../img/globe-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;

  column-gap: 10px;
  overflow-y: auto;

  flex: 6;
}

.slider-container {
  flex: 3;
}

.quote-block {
  width: 100%;
  height: 13vh;
  background-color: #199cff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 10vh;
  overflow-y: hidden;

  flex: 3;
}

.ornament-1,
.ornament-2 {
  flex: 1;
  max-height: 100%;
}

.ornament-1 {
  display: flex;
  justify-content: flex-end;
}

.ornament-2 {
  display: flex;
  justify-content: flex-start;
}

.quote {
  flex: 8;
  display: flex;
  flex-direction: column;
  /*margin-top: 1vh;
    margin-bottom: 1vh;*/
  font-style: italic;
  margin-left: 1vh;
  color: white;
  min-height: 5vh;
}

.quote-text {
  flex: 2;
  font-size: 2vh;
}

.quote-author {
  flex: 1;
  font-style: normal;
  align-self: flex-end;
  font-size: 2vh;
  margin-bottom: 2vh;
}

.article-column {
  margin-top: 10vh;
  flex: 2;
  color: black;
  font-size: 1vw;
}

.panel {
  background-color: #0077d4;
  height: 10vh;
  width: 100%;
  flex: 2;
}

.footer {
  height: 10vh;
  width: 100%;
  background-color: #00477e;
  flex: 1;
}

.news-column-header {
  flex: 2;

  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 71, 125, 0);
  row-gap: 1rem;
  height: 100%;

  padding-top: 2rem;
}

.news-column-header > * {
  background-color: white;
  color: black;

  padding: 1rem;
}

.slider-image {
  height: 400px;
  width: 600px;
}

a,
a:hover,
a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

.news-link,
.news-link:hover,
.news-link:visited,
.news-link:link,
.news-link:active {
  text-decoration: none;
  color: black;
  font-size: 1vw;
  background-color: #ff854c;
}

.news-link > a {
  font-size: 1vw;
  color: black;
}

.dropdown-toggle {
  color: white;
}

.dropdown-item,
.dropdown-item:hover,
.dropdown-item:visited,
.dropdown-item:link,
.dropdown-item:active {
  color: black;
}

@media (max-width: 800px) {
  .header-unesco {
    flex-direction: column;
    height: 600px;
    align-items: center;
    row-gap: 2rem;
    justify-content: center;
  }

  * {
    font-size: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .news-column-header {
    height: 40%;
  }

  .slider-container {
    height: 50%;
    display: flex;
    justify-content: center;
  }

  .slider-image {
    width: 321px;
    height: 214px;
  }

  .article-block {
    height: 450px;
  }

  .quote-text {
    font-size: 10px;
  }
}

/*PARTNERS PAGE*/

.partners-header {
  background-image: url("../img/news-line-images/1.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  height: 210px;
  background-position-y: top;
  margin-top: 10vh;
}

.blue-layer {
  background-color: rgba(0, 119, 212, 0.77);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 23px;
}

.unesco-center-block {
  display: flex;
  background-color: #ff854c;
  width: 90%;
  height: 400px;
  align-items: center;
  column-gap: 2rem;
  margin: auto;
}

.unesco-center-logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unesco-center-text {
  flex: 1;
}

.unesco-center-photo {
  flex: 1;
  margin-right: 2rem;
}

.partners-divisive-panel {
  background-color: #00477d;
  height: 200px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.partners-block {
  background-color: #00477d;
}

@media (max-width: 800px) {
  .unesco-center-block {
    flex-direction: column;
    height: 600px;
  }

  .partners-anchor-block {
    flex-direction: column;
    row-gap: 1vh;
  }
}

.partners-anchor-block {
  height: 60vh;
  width: 100%;
  margin-top: 3vh;
  display: flex;
  column-gap: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  flex-direction: row;
  justify-content: space-around;
}

.anchor-column {
  display: flex;
  flex-direction: column;
}

.anchor-section {
  flex: 1;
  display: flex;
}

.anchor-section > a > img {
  height: 100px;
  width: 280px;
}

.anchor-section > a {
  display: flex;
  column-gap: 1vw;
}

.anchor-section > a > div {
}

@media (max-width: 800px) {
  .anchor-section > a {
    flex-direction: column;
  }
}

/*index fixes*/
.quote {
  font-size: 15px;
}

.news-block {
  background-color: #00477d;
  min-height: 15vh;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 1vw;
  justify-content: space-around;
}

.news-block > * {
  font-size: 2vh;
}

.news-section {
  flex: 1;

  display: flex;
  column-gap: 2vw;

  margin-top: 1vh;

  flex-direction: row;
}

.news-photo {
  width: 7vw;
  height: 7vh;
  flex: 2;
  align-self: flex-start;
}

.news-article {
  color: white;
  display: flex;
  flex-direction: column;
}

.news-text {
  overflow: hidden;
  font-size: 1.5vh;
}

.news-article > a {
  font-size: 1.5vh;
}

.ornament-1 > img,
.ornament-2 > img {
  height: 13vh;
}

@media (max-width: 800px) {
  .news-block {
    flex-direction: column;
  }

  .article-column {
    font-size: 2vh;
  }

  .news-article {
    overflow-y: hidden;
  }

  .news-article > a {
    margin-top: 1vh;
  }
}

.news-text {
  height: 10vh;
}

.carousel-indicators {
  z-index: 1;
}

.menu-icon {
  display: none;
}

@media (max-width: 800px) {
  .logo {
    display: none;
  }

  .news-photo {
    width: 40vw;
  }

  .quote-block {
  }

  .news-article {
    height: 60vh;
  }

  .news-article > a {
    min-height: 10px;
  }

  .news-section {
    overflow: hidden;
  }

  .quote-text,
  .quote-author {
    font-size: 2vw;
  }

  .quote-block {
    height: 20vh;
    overflow-y: hidden;
  }

  .quote {
    flex: 5;
    margin: 0;
    padding: 0;
  }

  .news-block {
    height: 60vh;
  }
}

.news-text {
  height: 70%;
}

.news-article > a {
  height: 30%;

  align-self: flex-end;
  font-style: italic;
}

.article-block {
  height: 800px;
}

body {
  width: 100%;
}

.fixed-under-navbar {
  position: fixed;
  bottom: 0;
}

.header-unesco {
  height: 450px;
}

html {
  scroll-behavior: smooth;
}

#logo-image {
  max-height: 90%;
  width: auto;
}

.logo {
  column-gap: 1vw;
}

.image-column {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.image-column > img {
  height: 200px;
  width: 300px;
}

.article-column ~ .article-column {
  align-self: flex-end;
  margin-bottom: 2vh;
}

.article-block {
  min-height: 800px;
}

@media (max-width: 800px) {
  .article-block {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    min-height: 1200px;
  }
  .image-column > img {
    height: 20vh;
    width: 30vh;
  }

  .news-block {
    position: static;
  }
}

.image-column {
  flex: 4;
}

.quote-block {
  justify-content: center;
  align-items: center;
}
